@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Big+Shoulders+Display:wght@300;800;900&family=Epilogue:wght@400;700&family=IBM+Plex+Sans:wght@400;700&family=Outfit:wght@300;800;900&family=Red+Hat+Display:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    font-style: normal;
}
body{
    overflow-x: hidden;
    background: #F3EDE7;
}
header{
    margin-top: 24px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#request{
    border: 1px solid #172339;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    color: #172339;
    cursor: pointer;
    width: 182px;
    height: 48px;
    border-radius: 6px;
}
#request:hover{
    background: #172339;
    color: #ffffff;
}
.text h1{
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
    color: #172339;
    margin-top: 83.32px;
}
.text{
    position: relative;
    padding: 0 16px;
}
#pattern-one{
    position: relative;
    left: 45.3%;
    top: 56px;
    width: 151.47px;
    height: 19px;
}
.text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: #49566D;
}
#requestsecond{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    border: none;
    background: #172339;
    cursor: pointer;
    width: 256px;
    height: 61px;
    border-radius: 6px;
    margin-top:32px ;
}
#requestsecond:hover{
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
#mobile{
    max-width: 100%;
    margin-top: 55.68px;
    padding: 0 16px;
}
#mobile-tab{
    display: none;
}
.eng{
    margin-bottom: 32px;
}
.data{
    display: block;
    text-align: center;
    margin-top:56px ;
}
.data h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #172339;
}
.para{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}
.man{
    background: #172339;
    border-radius: 15px;
    
    
}
.works{
    position: relative;
    margin-top:257px ;
}
.works h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.416667px;
    color: #FAF8F6;
    text-align: center;
    
    
}
.quote{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    color: #F3EDE7;
    text-align: center;
    margin-top:40px ;
}
.works h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    text-align: center;
    margin-top: 40px;
}
.cmo{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
    text-align: center;
    padding-bottom: 64px;
}
.imgs{
    text-align: center;
}
#secondpattern{
    position: absolute;
    width:49.27px;
    height:40px;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#jeremy{
    position: relative;
    top: -181px;
    left: 15px;
    z-index: 1;
}
#jeremy2x{
    display: none;
}
#blur{
    display: none;
}
footer{
    text-align: center;
    
}
#footer-logo{
    margin-top: 56px;
}
footer p{
    margin-top: 33px;
}
.social{
    margin-top: 33px;
    margin-bottom: 81.5px;
}
#fb{
    margin-right: 20px;
    cursor: pointer;
}
#tw{
    margin-right: 20px;
    cursor: pointer;
}
#ig{
    cursor: pointer;
}
#ig:hover{
    filter: invert(33%) sepia(13%) saturate(952%) hue-rotate(180deg) brightness(93%) contrast(88%);
}
#fb:hover{
    filter: invert(33%) sepia(13%) saturate(952%) hue-rotate(180deg) brightness(93%) contrast(88%);
}
#tw:hover{
    filter: invert(33%) sepia(13%) saturate(952%) hue-rotate(180deg) brightness(93%) contrast(88%);
}
@media (min-width:768px){
    #request{
        width: 219px;
        height: 56px;
        font-size: 16px;
        line-height: 32px;
    }
    header{
        padding: 0 40px;
    }
    .text{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top:80px ;
    }
    #mobile{
        display: none;
    }
    .text h1{
        width: 74.6%;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }
    .text p{
        width: 46.48%;
    }
    .data{
        display: flex;
        justify-content: space-around;
        margin-top: 128px;
    }
    #mobile-tab{
        display: block;
        position: absolute;
        z-index: -1;
        left: 58.2%;
        width: 36.58%;
        height: 482px;
    }
    #blur{
        display: block;
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translate(-50%);
        z-index: 0;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 78px 40px;
    }
    .social{
        margin: 0;
    }
    #footer-logo{
        margin: 0;
    }
    footer p{
        margin: 0;
    }

}
@media (min-width:1440px){
    .upper{
        display: flex;
        gap:6.6%;
        padding: 0 165px;
    }
    .data{
        display: block;
        
    }
    .down{
        margin-top: 63px;

    }
    .text h1{
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
        width:635px ;
    }
    .text p{
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }

    .works{
        display: flex;
        justify-content: space-between;
        align-self: center;
        
    }

    .quote{
        margin-top: 40px;
        max-width: 500px;
        

    }
    .works h4{
        margin-top: 40px;
        
    }
    .rightside h2, .rightside h4, .rightside p {
        text-align: left;
    }
    .rightside h2{
        margin-top: 88px;
    }
    .cmo{
        margin-bottom: 88px;
    }
    #jeremy{
        display: none;
    }
    #jeremy2x{
        display: block;
        width: 375px;
        height: 600px;
        position: absolute;
        top: -45px;
        left: 7.77%;
        z-index: 1;
    }
    #blur{
        left: 18%;
        top: 130px;
    }
    .secondpattern{
        width: 64.05px;
        height: 52px;
    }
    header{
        padding: 0 165px;
    }
    footer{
        padding: 0 165px;
        margin-top:95px ;
        margin-bottom: 65px;
    }
    .text{
        padding: 0;
    }
}